<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Post</title>
	</head>
	<body>
		<h1>Create Post</h1>
		<br />
		<!-- enctype="multipart/form-data" -->
		<form method="post" enctype="multipart/form-data">
			<div>
				<label for="title">Title</label>
				<input type="text" name="title" />
			</div>
			<div>
				<label for="post">Post</label>
				<textarea name="post" cols="30" rows="30"></textarea>
			</div>
			<div>
				<label for="author">Author</label>
				<input type="text" name="author" />
			</div>
			<div>
				<label for="file">File</label>
				<input type="file" name="file" />
			</div>
			<button type="submit">Post now</button>
		</form>
	</body>
</html>
